*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

li {
    list-style: none;
}

.flex {
    display: flex;
}

.center-x {
    justify-content: center;
}

.center-center {
    justify-content: center;
    align-items: center;
}

.space-around {
    justify-content: space-around;
}

.column-direction {
    display: flex;
    flex-direction: column;
}

body {
    background: #1c1e22; 
    color: #c4ccdf;;
}

.container {
    width: 90%;
    height: 100%;
    padding: 20px;
}


/* ########################################### */
.effect-list {
    justify-content: space-evenly;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

.small-img {
    height: 100%;
    width: 100%;
    box-shadow: 0 0 10px black;
}

.small-img:hover {
    cursor: pointer;
}

.effect-name {
    text-align: center;
    margin-top: 5px;
    font-size: 15px;
}

.list-item {
    width: 180px;
    height: 150px;
    margin: 20px;
    padding: 10px;
}

.input-container {
    margin: 20px;
}

.image-container {
    max-width: 100vw;
}

.uploaded-image {
    max-width: 100%;
    box-shadow: 0 0 10px black;
}

/* ############################################## */
.list-item-2 {

      -webkit-filter: brightness(2) invert(1) grayscale(1);
           filter: brightness(2) invert(1) grayscale(1);

}

.list-item-3 {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

.list-item-4 {
    -webkit-filter: blur(5px); /* Safari 6.0 - 9.0 */
    filter: blur(5px);
}

.list-item-5 {
    filter: brightness(200%);
}

.list-item-6 {
    filter: contrast(200%);
}

.list-item-7 {
    filter: hue-rotate(90deg);
}

.list-item-8 {
    filter: invert(100%);
}

.list-item-9 {
    filter: saturate(800%);
}

.list-item-10 {
    filter: sepia(100%);
}

.list-item-11 {
    filter: contrast(200%) brightness(150%);
}

.list-item-12 {
    filter: contrast(200%) brightness(150%) hue-rotate(180deg);
}